<navbar [component]="'navigate'"></navbar> 
<div class="container">
    <div class="header">
        <h1>SOBRE O 3S</h1>
        <p>O 3S originou como um canal de youtube em que mostramos algumas manobras de skate e damos dicas para aqueles que estão iniciando.
            Porém, percebemos que muitos dos nossos inscritos estavam tendo dificuldades em melhorar no skate apenas através de videos, por causa disso,
             decidimos então vender aulas presenciais para ajudar de perto aqueles com mais dificuldade.
        </p>
    </div>
    <div class="row">
        <div class="col-md-3 card card-img" style="background-image: url(../../../assets/imgs/sobre/Diego.png)">
            
        </div>
        <div class="col-md-9 card card-descricao">
            <h2>DIEGO GUERRA</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis consequat eros, gravida accumsan urna. Etiam pellentesque rhoncus aliquet. Etiam lacinia et quam eget dapibus. Proin sed elementum erat. Curabitur in risus sollicitudin, semper tellus a, rhoncus mauris. Donec sollicitudin tincidunt sapien nec hendrerit. Mauris facilisis urna in ante eleifend, et venenatis nunc gravida. Cras lacinia scelerisque elit, non dignissim tortor hendrerit a</p>
        </div>
        <div class="col-md-9 card card-descricao">
            <h2>RODRIGO PANAJOTTI</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis consequat eros, gravida accumsan urna. Etiam pellentesque rhoncus aliquet. Etiam lacinia et quam eget dapibus. Proin sed elementum erat. Curabitur in risus sollicitudin, semper tellus a, rhoncus mauris. Donec sollicitudin tincidunt sapien nec hendrerit. Mauris facilisis urna in ante eleifend, et venenatis nunc gravida. Cras lacinia scelerisque elit, non dignissim tortor hendrerit a</p>
        </div>
        <div class="col-md-3 card card-img" style="background-image: url(../../../assets/imgs/sobre/Rodrigo.png)">
            
        </div>
        <div class="col-md-3 card card-img" style="background-image: url(../../../assets/imgs/sobre/logo.png)">
            
        </div>
        <div class="col-md-9 card card-descricao">
            <h2>3SKaters</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis consequat eros, gravida accumsan urna. Etiam pellentesque rhoncus aliquet. Etiam lacinia et quam eget dapibus. Proin sed elementum erat. Curabitur in risus sollicitudin, semper tellus a, rhoncus mauris. Donec sollicitudin tincidunt sapien nec hendrerit. Mauris facilisis urna in ante eleifend, et venenatis nunc gravida. Cras lacinia scelerisque elit, non dignissim tortor hendrerit a</p>
        </div>
    </div>
</div>

