<swiper id="slide" [slidesPerView]="numeroPorSlide" [spaceBetween]="50" [navigation]="{}" [pagination]="{clickable : true}"
    [scrollbar]="{ draggable: true }" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
    <ng-template swiperSlide>
        <a (click)="openModal(compra)">
            <div class="card">
                <i class="bi bi-cash"></i>
                <p>Plano 1.</p>
                <p>R$50,00. 1 aula de 2 horas.</p>
            </div>
        </a>
    </ng-template>
    <ng-template swiperSlide>
        <a href="https://api.whatsapp.com/send?phone=995971212&text=bom dia, gostaria de comprar o plano 1.">
        <div class="card">
            <i class="bi bi-cash"></i>
            <p>Plano 2.</p>
            <p>$90,00. 2 Aulas de 2 horas, podendo ser em dias diferentes.</p>
        </div>
    </a>
</ng-template>
    <ng-template swiperSlide>
        <a href="https://api.whatsapp.com/send?phone=995971212&text=bom dia, gostaria de comprar o plano 1.">
            <div class="card">
                <i class="bi bi-cash"></i>
                <p>Plano 3.</p>
                <p>R$120,00. 3 aulas de 2 horas, podendo ser em dias diferentes</p>
            </div>
        </a>
    </ng-template>
    <ng-template swiperSlide>
        <a href="https://api.whatsapp.com/send?phone=995971212&text=bom dia, gostaria de comprar o plano 1.">
            <div class="card">
                <i class="bi bi-cash"></i>
                <p>Plano 4.</p>
                <p>R$140,00. 4 aulas de 2 horas, podendo ser em dias diferentes.</p>
            </div>
        </a>
    </ng-template>
</swiper>

<ng-template #compra>
    <div class="modal-header">
        <h5 class="modal-title">Escolha como gostaria de realizar a compra</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <compra></compra>
    </div>
        
</ng-template>