.navbar{
    background-color: black;
    a{
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
    }
    a:hover{
        cursor: pointer;
    }

    .dropdown{
        button{
            color: white;
            font-size: 1.5rem;
            font-weight: 500;
        }
        .dropdown-item{
            button{
                color: black !important;
            }
        }
    }
    .nav-item{
        padding-right: 10px;
        padding-top: 7px;
    }
    .nav-item:hover{
        a{
            color: #ffcc00;
            border-bottom: 2px solid #ffcc00;
        }
        button{
            color: #ffcc00;
        }
    }
    .nav-icon{
        margin-top: -15px;
        padding-top: 7px;
        a{
            font-size: 3rem;
        }
    }
    .nav-icon:hover{
        a{
            color: #ffcc00;
        }
    }
}

.card{
    margin: 10px;
    height: 20vh;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    i{
        font-size: 3rem;
    }
    p{
        font-weight: 700;
    }
}