<navbar [component]="'navigate'"></navbar>   
<div class="video">
    <h1>AULAS DE SKATE</h1>
    <iframe src="https://www.youtube.com/embed/YY3W1oS3Z-M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h1>SKATE</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>     
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <h1>SKATE</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>     
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <h1>SKATE</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>     
        </div>
    </div>
</div>
<div class="fundo">
    <button>
        Saiba Mais
    </button>
</div>


