<navbar [component]="'navigate'"></navbar>   
<div class="video">
    <h1>AULAS DE SKATE</h1>
    <iframe src="https://www.youtube.com/embed/YY3W1oS3Z-M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>Confira abaixo as vantagens de contratar os serviços de aprendizado da 3S:</p>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h1>RESULTADOS</h1>
            <p>Aprenda a fazer manobras incríveis de skate com os melhores professores, pacientes e com ótimos métodos de ensino.</p>     
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <h1>PARA TODOS</h1>
            <p>Não importa se você ja sabe alguma coisa de skate, é um iniciante ou nunca tocou em um skate antes, o método de ensino é adaptado para as necessidades de cada aluno.</p>     
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <h1>QUALIDADE</h1>
            <p>Aula de qualidade com resultados garantidos! Caso, depois das aulas, você não sentir que valeu a pena, devolveremos seu dinheiro sem questionar.</p>     
        </div>
    </div>
</div>
<div class="fundo">
    <a routerLink="">
        <button>
            Comprar
        </button>
    </a>

</div>


