<section class="secao landing">
    <div class="corpo">
        <h1>3Sskaters</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="button-div">        
            <button class="btn">Saiba mais</button>
        </div>
    </div>
</section>
<section class="secao aulas">
    <div class="corpo">
        <img src="../../../assets/imgs/aulas/skate.png">
        <h2>Aulas de skate</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="button-div">        
            <button class="btn">Agendar Aula</button>
        </div>
    </div>
</section>