<navbar></navbar>
<section class="secao aulas" id="aulas">
    <div class="corpo">
        <img src="../../../assets/imgs/aulas/skate.png">
        <h1>Aulas de skate</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="row">
            <a class="col-md-3">
                <div class="card">
                    <i class="bi bi-cash"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </a>
            <a class="col-md-3">
                <div class="card">
                    <i class="bi bi-cash"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </a>
            <a class="col-md-3">
                <div class="card">
                    <i class="bi bi-cash"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </a>
            <a class="col-md-3">
                <div class="card">
                    <i class="bi bi-cash"></i>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </a>
        </div>
        <div class="button-div">        
            <button class="btn">Saiba Mais</button>
        </div>
    </div>
</section>
<section class="secao banner" id="banner">
    <div class="corpo">
        <h1>3Sskaters</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="button-div">        
            <button class="btn">Saiba mais</button>
        </div>
    </div>
</section>
<section class="secao loja" id="loja">
    <div class="corpo">
        <h1>Loja 3S</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div style="text-align: center;">
            <button class="btn">
                Saiba mais
            </button>
        </div>
    </div>
</section>
<section class="secao sobre" id="sobre">
    <div class="corpo">
        <h1>Sobre o canal</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button class="btn">
            Saiba mais
        </button>
    </div>
</section>
