.secao{
    height: 100vh;
    padding: 2rem 4rem;
    width: 100vw;
    display: table;
    h1{
        font-size: 5rem;
        font-family: fantasy;
    }
    .btn{
        border-radius: 30px;
        padding: 5px 40px;
        font-size: 2rem;
        font-weight: 600;
    }
    .btn:hover{
        font-size: 2.2rem;
        box-shadow: 0px 0px 10px blue;
    }
    a{
        text-decoration: none;
    }
}

@media only screen and (max-width: 720px) {
    .secao{
        padding: 1rem 2rem;
    }
}

.banner{
    background: url("../../../assets/imgs/landing/fundoLanding.png");
    background-size: cover;
    .corpo{
        display: table-cell;
        vertical-align: middle;
        p{
            width: 50%;
            color: white;
            font-size: 2rem;
        }
        h1{
            color: white;
            font-size: 11rem;
        }
    
        h2{
            color: white;
            font-size: 4rem;
        }
        .button-div{
            .btn{
                background-color: white;
                color: black;
            }
        }  
    }
}

@media only screen and (max-width: 720px) {
    .banner{
        background: black;
        background-size: auto;
        background-image: none;
        .corpo{
            h1{
                text-align: center;
                font-size: 16vw;
            }
            p{
                text-align: center;
                width: 100%;
                font-size: 22px;
            }
            .button-div{
                text-align: center;
                margin-top: 40px;
                .btn{
                    font-size: 10vw;
                    border-radius: 34px;
                }
            }

        }
    }
}

.aulas{
    background-color: white;
    .corpo{
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        a{
            color: white;
        }
        img{
            width: 50%;
        }
        p{
            font-size: 2rem;
            color: black;
        }
        h2{
            font-size: 7rem;
            color: black;
        }
        .button-div{
            margin-top: 10px;
            .btn{
                background-color: black;
                color: white;
            }
        }
    }
    .card{
        background-color: black;
        border-radius: 5px;
        text-align: center;
        margin-top: 10px;
        i{
            color: white;
            font-size: 4rem;
        }
        p{
            text-align: center;
            padding: 0 10px;
            color: white;
            font-size: 1rem;
        }
    }
}

@media only screen and (max-width: 720px) {
   .aulas{
       .corpo{
           img{
               width: 100%;
           }
           h2{
               font-size: 4rem;
           }
           p{
            font-size: 1.5rem;
           }
           .button-div{
               text-align: center;
               .btn{
                   font-size: 10vw;
               }
           }
       }
   }
}

.loja{
    background-image: url(../../../assets/imgs/loja/fundo.png);
    background-size: cover;
    .corpo{
        margin-left: 50%;
        width: 50%;
        h1{
            font-size: 5.5rem;
            font-weight: 600;
            text-align: center;
        }
        p{
            font-size: 2.5rem;
            text-align: end;
        }
        .btn{
            background-color: black;
            color: white;
        }
    }
}

@media only screen and (max-width: 720px){
    .loja{
        background-image: none;
        background-color: white;
        .corpo{
            margin: 0;
            width: 100%;
            p{
                text-align: center;
            }
            h1{
                font-size: 4rem;
            }
        }
    }
}

.sobre{
    background-color: #f2f2f2;
    .corpo{
        text-align: center;

        .btn{
            background-color: black;
            color: white;
        }
        h1{
            font-size: 7rem;
        }
        p{
            font-size: 2rem;
            padding: 0 25%;
        }
    }
}

@media only screen and (max-width: 720px){
    .sobre{
        .corpo{
            p{
                padding: 0;
            }
        }
    }
}

.voltar{
    position: absolute;
    border-radius: 50%;
    color: black;
    background-color: white;
    font-size: 4rem;
    position: fixed;
    left: 50px;
    padding: 0 15px;
    bottom: 50px;
}

.voltar:hover{
    cursor: pointer;
}
